<div class="container">

	<div>

		<a id="settings" href="/#/login" ng-click="logOut()" class="button" role="button"></a>
	</div>

    <div>
        <a id="record" href="tel:+17073362989" class="button" role="button" ></a>
        <a id="play" class="button" role="button" ng-click="getAll()"></a>
		<audio id="playbar" ng-src="{{record}}" controls></audio>
		<!-- <audio ng-repeat="record in records" ng-src="{{record}}" controls></audio> -->

    </div>

	<div class= "container" style = "height: 50px"><h1>{{record}}</h1></div>
    

</div>