<div class="container" style="width: 85%;">
	<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 panel panel-info">

			<div class="row panel-heading">
				<a id="settings" href="/#/login" ng-click="logOut()" class="button" role="button"></a>
			</div>

		    <div class="row" style="margin-bottom: 25px;">
		        <a id="record" href="tel:+17073362989" class="button" role="button" ></a>
		        <a id="play" class="button" role="button" ng-click="playAll(0)"></a>
		    </div>

	</div>
	<div>
		<audio ng-repeat="record in records track by $index" id="record{{$index}}" ng-src="{{record}}" controls></audio>
	</div>
</div>

<!-- <script>
  var loaded = false;

  var playPause = function () {
    if (!loaded) {
      this.one('canplay', function () {
        loaded = true;
        this.play();
      }, this);
      this.load('/song.mp3');
    } else {
      this.playPause();
    }
  }

  var audio5js = new Audio5js({
    swf_path: './flash/audio5js.swf',
    ready: function () {
      var btn = document.getElementById('play-pause');
      btn.addEventListener('click', playPause.bind(this), false);
    }
  });
</script> -->
