<div style="margin-top: 30px; margin-bottom: 20px;">
      <span style="font-family: 'Lobster'; font-size: 3.8em; color: crimson; text-align: center; padding: 4%; -webkit-text-stroke-width: 5px; -webkit-text-stroke-color: rgba(255,80,80,0.15);">Sumcast</span>
</div>

<!-- <div class="row col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 panel" style="background-color: rgba(255,255,255,0.5);"> -->
<a href="/#/home">
  <button class="btn btn-primary" style="float: right;">go back home</button>
<!-- </div> -->
</a>

<div class="container">
  <a href="/#/login">
    <button ng-click="logOut()" class="btn btn-danger btn-nav" style="float: left;">Logout</button>
  </a>


    <div class="navset" style="margin: 50px;">

        <!-- <button class="btn btn-success btn-nav">24h</button>
        <button class="btn btn-success btn-nav">7days</button>
        <button class="btn btn-success btn-nav">Custom</button> -->
    </div>



</div>
