* {
	font-family: 'Cabin', Georgia, Times, serif;
	color: grey;
	text-align: center;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -90;
}

.fullscreen-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fscreen-bg {
	background-image: url(pics/greypat.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 104.05%;
    height: 100%;
    z-index: -100;
}

@media (min-width: 767px) {
	.fscreen-bg {
	background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 104.05%;
    height: 100%;
    z-index: -100;
	}
}

@media (max-width: 767px) {
  .fullscreen-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 230%;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
  }
}

.bgwhite {
	min-width: 100%;
	height: auto;
}

/*.normal-text-yes {
	font-family: 'Cabin', Georgia, Times, serif;
	font-size: 30%;
	color: grey;
}*/

.max-reg-high {
	max-height: 90px;
}

.navset {
	height: auto;
}

.btn-nav {
	min-width: 75px;
}

#settings {
	content: url(pics/settingsicon.png);
	float: right;
	max-height: 22px;
	max-width: 22px;
}

#record {
	content: url(pics/recordicon.png);
	padding-top: 10%;
	float: left;
	padding-left: 12%;
	zoom: 75%;
}

#play {
	content: url(pics/playicon.png);
	padding-top: 10%;
	float: right;
	padding-right: 5%;
	zoom: 75%;
}

.btn-lobster {
	font-family: 'Lobster';
}

/*body {
  background-image: url('http://sc.vaesite.net/__data/715b056ca925edfe9372643c32d31e32.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}*/

/*#vidmesh {
	background-image: url(pics/postervid.png) no-repeat center center;
	background-color: purple;
	min-width: 100%;
	height: auto;
	background-blend-mode: screen;
	background-size: 300%;
	display: block;
	margin: 0 auto;
}*/

/*icons: https://www.iconfinder.com/iconsets/glyphs*/