/*icons: https://www.iconfinder.com/iconsets/glyphs*/

#record {
	content: url(https://cdn1.iconfinder.com/data/icons/iconnice-vector-icon/29/Vector-icons_07-128.png);
	padding-top: 10%;
	padding-left: 13%;
}

#play {
	content: url(https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_play-128.png);
	padding-top: 10%;
	float: right;
	padding-right: 7%;
}

#title {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 3em;
	color: black;
}